.container {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: url("../images/illustration-hero.svg");
    background-repeat: no-repeat;
    background-size: 330px;
    background-color: var(--white);
    height: 80vh; /*temporary */
    width: 75vw; /* temporary */
    margin: 0 1.5rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-shadow: 7px 7px 13px 0px  hsl(225, 18%, 54%);
}


.card-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}

.title {
    margin-top: 1.7rem;
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--dark-blue);
}

.product-description {
    margin-top: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    font-size: 17px;
    color: var(--desaturated-blue);
}

.container-user-plan {
    background-color: var(--very-pale-blue);
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 1rem;
    margin-top: 1.7rem;
    border-radius: 10px;
}

.music-icon {
    height: 3rem;
}

.container-user-plan-type {
    display: flex;
    flex-direction: column;
    line-height: 1.7rem;
    margin-right: 1.5rem;
}

.user-plan-type {
    font-weight: 900;
    color: var(--dark-blue);
    font-size: .9rem;
}

.plan-price {
    font-size: .9rem;
    color: var(--desaturated-blue);
}

.container-user-plan a {
    display: flex;
    align-items: center;
    font-size: .9rem;
    color: var(--bright-blue);
    font-weight: 700;
}

.container-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.7rem;
}

.pay-button {
    background-color: var(--bright-blue);
    padding: .9rem;
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-weight: 700;
    box-shadow: 7px 7px 13px 0px  hsl(225, 18%, 54%);
}

.cancel-button {
    background: none;
    padding: .9rem;
    border-radius: 10px;
    border: none;
    color: var(--desaturated-blue);
    font-weight: 700;
    margin-top: .5rem;
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.7rem;
    color: var(--dark-blue);
    letter-spacing: 1.5px;
 
}

footer a {
    color: var(--bright-blue);
}


